*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.row{
    display: flex;
}

nav ul li
{
    display: inline-block;
}
nav ul li:hover
{
    background-color: #1f3c52;
}
.container
{
    width: 1000px;
    margin: 0 auto;
}

.main-header
{
    background-color:#2a5d84;
    line-height: 60px;
}
.main-header a
{
    text-decoration:none;
    padding: 10px;
    color: white;

}
.ml-a
{
    margin-left: auto;
}
.search {
    margin: auto;
}
.search input{
    padding: 8px;
}