*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:aachenb ;
}
.row{
    display: flex;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.logo{
    padding: 0 5em 0 0;
    margin-top: 6px;
}
#mainheader{
    background-color: #daac00;

}
nav li{
    display: inline-block;
    padding: 17px;
    text-align: center;

}
.main-menu{
    padding-top: 10px;
}
nav li a{
    text-decoration: none;  
    font-size: 25px;
    padding: 10px;
    color: aliceblue;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
nav li a:hover{
    color: black;
}
/* .just-sp-btw{
    justify-content: center;
} */
.search input{
    margin-top: 19px;
    margin-left:65px;
    padding: 14px;
    width: 155px;
    height: 31px;
    border: none;
    filter: drop-shadow(7.512px 14.127px 9px rgba(74,74,74,0.1));
    background-color: #fcc302;
}
.box{
    width: 32px;
    height:31px;
    margin-top: 19px;
    background-color:blue;
}
.fafa{
    position: absolute;
    margin-top: 5px;
    color:aliceblue;
    right: 6em;
    font-size: 23px;
}
.bkcolor{
    background-color: #fcc302;
}
.main-header-content{
    background-color: #fcc302;
    height:750PX;
}
.col-50{
    width: 50%;
}
.menulayer{
    margin-top: 15em;
}
.header-text{
    font-size: 50px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
}
.loremp{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;

}
.img{
    width: 100%;
}
button{
    height: 50px;
    width: 150px;
    background-color:#fcc302;
    font-size: 18px;
    border-radius: 7px;
    border: 2px solid white;
    color: #ffffff;
    margin-right: 1em;
}
button:hover{
    background-color: #00bec9;
}
.pet{
    margin-left: 50px;
    margin-top: 6em;
}